.hf_cache/
hf_cache/
__pycache__/
*.pyc

data/
*.jsonl
*.log

deberta_results/checkpoint-1482/
deberta_results/checkpoint-2964/optimizer.pt
deberta_results/checkpoint-2964/scheduler.pt
deberta_results/checkpoint-2964/scaler.pt
deberta_results/checkpoint-2964/rng_state.pth
deberta_results/checkpoint-2964/training_args.bin

pan25_genai_baselines/.git/
pan25_genai_baselines/build/
pan25_genai_baselines/*.egg-info/
