.hf_cache/
hf_cache/
__pycache__/
*.pyc

data/
submission_smoke/
submission_out/
*.log

binoculars.jsonl
binoculars_fast.jsonl
custom_model.jsonl
deberta_model.jsonl
ensemble_model.jsonl
ppmd.jsonl
tfidf.jsonl

deberta_results/checkpoint-1482/
deberta_results/checkpoint-2964/optimizer.pt
deberta_results/checkpoint-2964/scheduler.pt
deberta_results/checkpoint-2964/scaler.pt
deberta_results/checkpoint-2964/rng_state.pth
deberta_results/checkpoint-2964/training_args.bin

pan25_genai_baselines/build/
pan25_genai_baselines/*.egg-info/

SUBMISSION.md
custom_model_dokumentacia.md
docker_baselines_tutorial.md
ensemble_dokumentacia.md
finalna_semestralna_dokumentacia.md
models/README.md
pan25_genai_baselines/README.md

generative-ai-authorship-verification-panclef-2026/

*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.xmpdata
*.abs
pdfa.xmpi
pan-notebook-paper-template/cc-by.pdf
pan-notebook-paper-template/ceurart.cls
pan-notebook-paper-template/chatonly-pan2026-notebook.fdb_latexmk
pan-notebook-paper-template/chatonly-pan2026-notebook.fls
pan-notebook-paper-template/chatonly-pan2026-notebook.pdf
pan-notebook-paper-template/chatonly-pan2026-notebook.synctex.gz
pan-notebook-paper-template/chatonly-pan2026-notebook.tex
pan-notebook-paper-template/pan-notebook-template.odt
pan-notebook-paper-template/pan-notebook-template.pdf
pan-notebook-paper-template/pan-notebook-template.tex
pan-notebook-paper-template/pan25-lit.bib
pan-notebook-paper-template/participant-lit.bib
